*~
.swp
.*.swp
.swp
.gwt
.gwt-tmp
target
.classpath
.externalToolBuilders
.project
.settings
.springBeans
.DS_Store
build.properties
*.iml
*.iws
*.ipr
.launch
.*launch
nb-configuration.xml
.idea
node_modules
www
.tmp
.sass-cache
.DS_Store
app/bower_components
coverage
platforms
plugins
nbproject
