<!-- jsp:include page="/includes/header.jsp" flush="false" >
  <jsp:param name="title" value="Event List" />
  <jsp:param name="headTitle" value="List" />
  <jsp:param name="headTitle" value="Events" />
  <jsp:param name="breadcrumb" value="<a href= 'event/index' title='Events System Page'>Events</a>" />
  <jsp:param name="breadcrumb" value="List" />
</jsp:include -->
<div ng-controller="EventListController">

    <!-- menu -->
    <div id="linkbar">
        <ul>
            <li><a href="#/events/list" title="Remove all search constraints" >View all events</a></li>
            <li><a href="#/events/search" title="More advanced searching and sorting options">Advanced Search</a></li>
            <li><a ng-onclick="#/events/severity)%>','event_severity_legend', 'fullscreen=no,toolbar=no,status=no,menubar=no,scrollbars=no,resizable=yes,directories=no,location=no,width=525,height=330');" title="Open a window explaining the event severities">Severity Legend</a></li>

            <!-- Server Side: Only Admins and Non-ReadOnly accounts can see events. -->
            <li ui-if="eventCount > 0">
                <!-- hidden form for acknowledging the result set -->
                <form style="display:inline" action="event/acknowledgeByFilter" method="post" name="acknowledge_by_filter_form">
                    <input type="hidden" name="redirectParms" value="{{redirectParms}}" />
                    <input type="hidden" name="actionCode" value="{{action}}" />
                </form>

                <a ui-if="ackType === 'UNACKKNOWLEGED'" href="javascript:void()" onclick="if (confirm('Are you sure you want to acknowledge all events in the current search including those not shown on your screen?  (<%=eventCount%> total events)')) {
                                document.acknowledge_by_filter_form.submit();
                            }" title="Acknowledge all events that match the current search constraints, even those not shown on the screen">Acknowledge entire search</a>
                <a ui-if="ackType !== 'UNACKKNOWLEGED'" href="javascript:void()" onclick="if (confirm('Are you sure you want to unacknowledge all events in the current search including those not shown on your screen)?  (<%=eventCount%> total events)')) {
                                document.acknowledge_by_filter_form.submit();
                            }" title="Unacknowledge all events that match the current search constraints, even those not shown on the screen">Unacknowledge entire search</a>
            </li>
        </ul>
    </div>
    <!-- end menu -->

    <!-- hidden form for adding a new Notification -->
    <form action="admin/notification/noticeWizard/notificationWizard" method="post" name="add_notification_form">
        <input type="hidden" name="sourcePage" value="<%=NotificationWizardServlet.SOURCE_PAGE_OTHER_WEBUI%>" />
        <input type="hidden" name="uei" id="uei" value="" /> <!-- Set by java script -->
    </form>

    <% if( parms.getFilters().size() > 0 || AcknowledgeType.UNACKNOWLEDGED.toNormalizedAcknowledgeType().equals(parms.getAckType()) || AcknowledgeType.ACKNOWLEDGED.toNormalizedAcknowledgeType().equals(parms.getAckType()) ) { %>
    <div>
        <p>
            Favorites:
        <onms:select
            defaultText="All Events"
            elements='${favorites}'
            selected='${favorite}'
            handler='${filterFavoriteSelectTagHandler}'
            onChange='changeFavorite(this)'/>
        </p>
        <% } %>

        <jsp:include page="/includes/event-querypanel.jsp" flush="false" />

        <% if( parms.getFilters().size() > 0 || AcknowledgeType.UNACKNOWLEDGED.toNormalizedAcknowledgeType().equals(parms.getAckType()) || AcknowledgeType.ACKNOWLEDGED.toNormalizedAcknowledgeType().equals(parms.getAckType()) ) { %>
        <p>
        <onms:filters
            context="/event/list"
            favorite="${favorite}"
            parameters="${parms}"
            showRemoveLink="true"
            showAcknowledgeFilter="true"
            acknowledgeFilterPrefix="Event(s)"
            acknowledgeFilterSuffix="event(s)"
            callback="${callback}" />

        <onms:favorite
            favorite="${favorite}"
            parameters="${parms}"
            callback="${callback}"
            context="/event/list"
            createFavoriteController="/event/createFavorite"
            deleteFavoriteController="/event/deleteFavorite"
            onDeselect="<%=FavoriteTag.Action.CLEAR_FILTERS%>"/>

        </p>
    </div>
    <% } %>
    <onms:alert/>

    <% if( events.length > 0 ) { %>
    <% String baseUrl = this.makeLink(callback, parms, favorite); %>
    <% if ( eventCount == -1 ) { %>
    <jsp:include page="/includes/resultsIndexNoCount.jsp" flush="false" >
        <jsp:param name="itemCount"    value="<%=events.length%>" />
        <jsp:param name="baseurl"  value="<%=baseUrl%>"    />
        <jsp:param name="limit"    value="<%=parms.getLimit()%>"      />
        <jsp:param name="multiple" value="<%=parms.getMultiple()%>"   />
    </jsp:include>
    <% } else { %>
    <jsp:include page="/includes/resultsIndex.jsp" flush="false" >
        <jsp:param name="count"    value="<%=eventCount%>" />
        <jsp:param name="baseurl"  value="<%=baseUrl%>"    />
        <jsp:param name="limit"    value="<%=parms.getLimit()%>"      />
        <jsp:param name="multiple" value="<%=parms.getMultiple()%>"   />
    </jsp:include>
    <% } %>
    <% } %>

    <% if( req.isUserInRole( Authentication.ROLE_ADMIN ) || !req.isUserInRole( Authentication.ROLE_READONLY ) ) { %>
    <form action="event/acknowledge" method="post" name="acknowledge_form">
        <input type="hidden" name="redirectParms" value="<c:out value="<%=req.getQueryString()%>"/>" />
               <input type="hidden" name="actionCode" value="<%=action%>" />
        <%=org.opennms.web.api.Util.makeHiddenTags(req)%>
        <% } %>
        <jsp:include page="/includes/key.jsp" flush="false" />

        <% String acknowledgeEvent = System.getProperty("opennms.eventlist.acknowledge"); %>

        <table>
            <thead>
                <tr>
                    <% if( "true".equals(acknowledgeEvent) ) { %>
                    <% if( req.isUserInRole( Authentication.ROLE_ADMIN ) || !req.isUserInRole( Authentication.ROLE_READONLY ) ) { %>
                    <% if ( AcknowledgeType.UNACKNOWLEDGED.toNormalizedAcknowledgeType().equals(parms.getAckType()) ) { %>
                    <th width="1%">Ack</th>
                    <% } else { %>
                    <th width="1%">UnAck</th>
                    <% } %>
                    <% } else { %>
                    <th width="1%">&nbsp;</th>
                    <% } %>
                    <% } %>
                    <th width="1%"> <%=this.makeSortLink(callback, parms, SortStyle.ID,        SortStyle.REVERSE_ID,        "id",        "ID"        , favorite)%></th>
                    <th width="10%"><%=this.makeSortLink(callback, parms, SortStyle.SEVERITY,  SortStyle.REVERSE_SEVERITY,  "severity",  "Severity"  , favorite)%></th>
                    <th width="19%"><%=this.makeSortLink(callback, parms, SortStyle.TIME,      SortStyle.REVERSE_TIME,      "time",      "Time"      , favorite)%></th>
                    <th width="25%"><%=this.makeSortLink(callback, parms, SortStyle.NODE,      SortStyle.REVERSE_NODE,      "node",      "Node"      , favorite)%></th>
                    <th width="16%"><%=this.makeSortLink(callback, parms, SortStyle.INTERFACE, SortStyle.REVERSE_INTERFACE, "interface", "Interface" , favorite)%></th>
                    <th width="15%"><%=this.makeSortLink(callback, parms, SortStyle.SERVICE,   SortStyle.REVERSE_SERVICE,   "service",   "Service"   , favorite)%></th>
                </tr>
            </thead>     
            <% for( int i=0; i < events.length; i++ ) {
            Event event = events[i];
            pageContext.setAttribute("event", event);
            %>

            <tr valign="top" class="<%=events[i].getSeverity().getLabel()%>">
                <% if( "true".equals(acknowledgeEvent) ) { %>
                <% if( request.isUserInRole( Authentication.ROLE_ADMIN ) || !req.isUserInRole( Authentication.ROLE_READONLY ) ) { %>
                <td valign="top" rowspan="3" class="divider">
                    <input type="checkbox" name="event" value="<%=events[i].getId()%>" /> 
                </td>
                <% } else { %>
                <td valign="top" rowspan="3" class="divider">&nbsp;</td>
                <% } %>
                <% } %>

                <td valign="top" rowspan="3" class="divider"><a href="event/detail.jsp?id=<%=events[i].getId()%>"><%=events[i].getId()%></a></td>

                <td valign="top" rowspan="3" class="divider bright"> 
                    <strong><%= events[i].getSeverity().getLabel() %></strong>
                    <% Filter severityFilter = new SeverityFilter(events[i].getSeverity()); %>      
                    <% if( !parms.getFilters().contains(severityFilter)) { %>
            <nobr>
                <a href="<%=this.makeLink(callback, parms, severityFilter, true, favorite)%>" class="filterLink" title="Show only events with this severity">${addPositiveFilter}</a>
                <a href="<%=this.makeLink(callback, parms, new NegativeSeverityFilter(events[i].getSeverity()), true, favorite)%>" class="filterLink" title="Do not show events with this severity">${addNegativeFilter}</a>
            </nobr>
            <% } %>
            </td>
            <td class="divider">
            <nobr><fmt:formatDate value="${event.time}" type="date" dateStyle="short"/>&nbsp;<fmt:formatDate value="${event.time}" type="time" pattern="HH:mm:ss"/></nobr>
            <nobr>
                <a href="<%=this.makeLink(callback, parms, new AfterDateFilter(events[i].getTime()), true, favorite)%>"  class="filterLink" title="Only show events occurring after this one">${addAfterFilter}</a>
                <a href="<%=this.makeLink(callback, parms, new BeforeDateFilter(events[i].getTime()), true, favorite)%>" class="filterLink" title="Only show events occurring before this one">${addBeforeFilter}</a>
            </nobr>
            </td>
            <td class="divider">
                <% if(events[i].getNodeId() != 0 && events[i].getNodeLabel()!= null ) { %>
                <% Filter nodeFilter = new NodeFilter(events[i].getNodeId(), pageContext.getServletContext()); %>
                <% String[] labels = this.getNodeLabels( events[i].getNodeLabel() ); %>
                <a href="element/node.jsp?node=<%=events[i].getNodeId()%>" title="<%=labels[1]%>"><%=labels[0]%></a>

                <% if( !parms.getFilters().contains(nodeFilter) ) { %>
            <nobr>
                <a href="<%=this.makeLink(callback, parms, nodeFilter, true, favorite)%>" class="filterLink" title="Show only events on this node">${addPositiveFilter}</a>
                <a href="<%=this.makeLink(callback, parms, new NegativeNodeFilter(events[i].getNodeId(), pageContext.getServletContext()), true, favorite)%>" class="filterLink" title="Do not show events for this node">${addNegativeFilter}</a>
            </nobr>
            <% } %>
            <% } else { %>
            &nbsp;
            <% } %>
            </td>
            <td class="divider">
                <% if(events[i].getIpAddress() != null ) { %>
                <% Filter intfFilter = new InterfaceFilter(events[i].getIpAddress()); %>
                <% if( events[i].getNodeId() != 0 ) { %>
            <c:url var="interfaceLink" value="element/interface.jsp">
                <c:param name="node" value="<%=String.valueOf(events[i].getNodeId())%>"/>
                <c:param name="intf" value="<%=events[i].getIpAddress()%>"/>
            </c:url>
            <a href="<c:out value="${interfaceLink}"/>" title="More info on this interface"><%=events[i].getIpAddress()%></a>
            <% } else { %>
            <%=events[i].getIpAddress()%>
            <% } %>
            <% if( !parms.getFilters().contains(intfFilter) ) { %>
            <nobr>
                <a href="<%=this.makeLink(callback, parms, intfFilter, true, favorite)%>" class="filterLink" title="Show only events on this IP address">${addPositiveFilter}</a>
                <a href="<%=this.makeLink(callback, parms, new NegativeInterfaceFilter(events[i].getIpAddress()), true, favorite)%>" class="filterLink" title="Do not show events for this interface">${addNegativeFilter}</a>
            </nobr>
            <% } %>
            <% } else { %>
            &nbsp;
            <% } %>
            </td>
            <td class="divider">
                <% if(events[i].getServiceName() != null && events[i].getServiceName() != "") { %>
                <% Filter serviceFilter = new ServiceFilter(events[i].getServiceId(), pageContext.getServletContext()); %>
                <% if( events[i].getNodeId() != 0 && events[i].getIpAddress() != null ) { %>
            <c:url var="serviceLink" value="element/service.jsp">
                <c:param name="node" value="<%=String.valueOf(events[i].getNodeId())%>"/>
                <c:param name="intf" value="<%=events[i].getIpAddress()%>"/>
                <c:param name="service" value="<%=String.valueOf(events[i].getServiceId())%>"/>
            </c:url>
            <a href="<c:out value="${serviceLink}"/>" title="More info on this service"><c:out value="<%=events[i].getServiceName()%>"/></a>
            <% } else { %>
            <c:out value="<%=events[i].getServiceName()%>"/>
            <% } %>
            <% if( !parms.getFilters().contains(serviceFilter)) { %>
            <nobr>
                <a href="<%=this.makeLink(callback, parms, serviceFilter, true, favorite)%>" class="filterLink" title="Show only events with this service type">${addPositiveFilter}</a>
                <a href="<%=this.makeLink(callback, parms, new NegativeServiceFilter(events[i].getServiceId(), pageContext.getServletContext()), true, favorite)%>" class="filterLink" title="Do not show events for this service">${addNegativeFilter}</a>
            </nobr>
            <% } %>                            
            <% } else { %>
            &nbsp;
            <% } %>
            </td>

            </tr>

            <tr valign="top" class="<%= events[i].getSeverity().getLabel() %>">
                <td colspan="4">
                    <% if(events[i].getUei() != null) { %>
                    <% Filter exactUEIFilter = new ExactUEIFilter(events[i].getUei()); %>
                    <%=events[i].getUei()%>
                    <% if( !parms.getFilters().contains(exactUEIFilter)) { %>
            <nobr>
                <a href="<%=this.makeLink(callback, parms, exactUEIFilter, true, favorite)%>" class="filterLink" title="Show only events with this UEI">${addPositiveFilter}</a>
                <a href="<%=this.makeLink(callback, parms, new NegativeExactUEIFilter(events[i].getUei()), true, favorite)%>" class="filterLink" title="Do not show events for this UEI">${addNegativeFilter}</a>
            </nobr>
            <% } %>
            <% if (req.isUserInRole(Authentication.ROLE_ADMIN)) { %>
            <a href="javascript:void()" onclick="submitNewNotificationForm('<%=events[i].getUei()%>');" title="Edit notifications for this Event UEI">Edit notifications for event</a>
            <% } %>
            <% } else { %>
            &nbsp;
            <% } %>
            </td>
            </tr>

            <tr valign="top" class="<%= events[i].getSeverity().getLabel() %>">
                <td colspan="5"><%=events[i].getLogMessage()%></td>
            </tr>

            <% } /*end for*/%>
        </table>

        <p><%=events.length%> events
            <% 
            if( (req.isUserInRole( Authentication.ROLE_ADMIN ) || !req.isUserInRole( Authentication.ROLE_READONLY )) && "true".equals(acknowledgeEvent)) { %>
            <% if( AcknowledgeType.UNACKNOWLEDGED.toNormalizedAcknowledgeType().equals(parms.getAckType()) ) { %>
            <input type="button" value="Acknowledge Events" onClick="submitForm('<%= AcknowledgeType.UNACKNOWLEDGED.getShortName() %>')"/>
            <input TYPE="button" VALUE="Select All" onClick="checkAllCheckboxes()"/>
            <input TYPE="reset" />
            <% } else if( AcknowledgeType.ACKNOWLEDGED.toNormalizedAcknowledgeType().equals(parms.getAckType()) ) { %>
            <input type="button" value="Unacknowledge Events" onClick="submitForm('<%= AcknowledgeType.ACKNOWLEDGED.getShortName() %>')"/>
            <input TYPE="button" VALUE="Select All" onClick="checkAllCheckboxes()"/>
            <input TYPE="reset" />
            <% } %>
            <% } %>
        </p>
    </form>

    <% if( events.length > 0 ) { %>
    <% String baseUrl = this.makeLink(callback, parms, favorite); %>
    <% if ( eventCount == -1 ) { %>
    <jsp:include page="/includes/resultsIndexNoCount.jsp" flush="false" >
        <jsp:param name="itemCount"    value="<%=events.length%>" />
        <jsp:param name="baseurl"  value="<%=baseUrl%>"    />
        <jsp:param name="limit"    value="<%=parms.getLimit()%>"      />
        <jsp:param name="multiple" value="<%=parms.getMultiple()%>"   />
    </jsp:include>
    <% } else { %>
    <jsp:include page="/includes/resultsIndex.jsp" flush="false" >
        <jsp:param name="count"    value="<%=eventCount%>" />
        <jsp:param name="baseurl"  value="<%=baseUrl%>"    />
        <jsp:param name="limit"    value="<%=parms.getLimit()%>"      />
        <jsp:param name="multiple" value="<%=parms.getMultiple()%>"   />
    </jsp:include>
    <% } %>
    <% } %>          

    <!-- %!
    final String urlBase = "event/list";
    
    protected String makeSortLink(FilterCallback callback, NormalizedQueryParameters parms, SortStyle style, SortStyle revStyle, String sortString, String title, OnmsFilterFavorite favorite) {
    StringBuffer buffer = new StringBuffer();
    final String styleShortName = style != null ? style.getShortName() : null;
    final String revStyleShortName = revStyle != null ? revStyle.getShortName() : null;
    
    buffer.append( "<nobr>" );
    
        if( parms.getSortStyleShortName().equals(styleShortName) ) {
        buffer.append( "<img src=\"images/arrowdown.gif\" hspace=\"0\" vspace=\"0\" border=\"0\" alt=\"" );
                             buffer.append( title );
                             buffer.append( " Ascending Sort\"/>" );
                             buffer.append( "&nbsp;<a href=\"" );
                             buffer.append( this.makeLink(callback, parms, revStyle, favorite));
                             buffer.append( "\" title=\"Reverse the sort\">" );
                             } else if( parms.getSortStyleShortName().equals(revStyleShortName)) {
                             buffer.append( "<img src=\"images/arrowup.gif\" hspace=\"0\" vspace=\"0\" border=\"0\" alt=\"" );
                             buffer.append( title );
                             buffer.append( " Descending Sort\"/>" );
                             buffer.append( "&nbsp;<a href=\"" );
                             buffer.append( this.makeLink(callback, parms, style, favorite ));
                             buffer.append( "\" title=\"Reverse the sort\">" );
                             } else {
                             buffer.append( "<a href=\"" );
                               buffer.append( this.makeLink(callback, parms, style, favorite ));
                               buffer.append( "\" title=\"Sort by " );
                               buffer.append( sortString );
                               buffer.append( "\">" );   
                               }
    
                               buffer.append( title );
                               buffer.append( "</a>" );
    
                buffer.append( "</nobr>" );
    
                return( buffer.toString() );
                }
    
                public String makeLink(FilterCallback callback,  NormalizedQueryParameters parms, OnmsFilterFavorite favorite ) {
                return callback.createLink(urlBase, parms, favorite);
                }
    
    
                public String makeLink(FilterCallback callback, final NormalizedQueryParameters parms, SortStyle sortStyle, OnmsFilterFavorite favorite ) {
                NormalizedQueryParameters newParms = new NormalizedQueryParameters(parms);
                newParms.setSortStyleShortName(sortStyle.getShortName());
                return this.makeLink(callback, newParms, favorite);
                }
    
    
                public String makeLink(FilterCallback callback, NormalizedQueryParameters parms, AcknowledgeType ackType, OnmsFilterFavorite favorite) {
                NormalizedQueryParameters newParms = new NormalizedQueryParameters(parms); // clone
                newParms.setAckType(ackType.toNormalizedAcknowledgeType());
                return this.makeLink(callback, newParms, favorite);
                }
    
    
                public String makeLink(FilterCallback callback, NormalizedQueryParameters parms, List<Filter> filters, OnmsFilterFavorite favorite) {
                    NormalizedQueryParameters newParms = new NormalizedQueryParameters(parms); // clone;
                    newParms.setFilters(filters);
                    return this.makeLink(callback, newParms, favorite);
                    }
    
                    public String makeLink(FilterCallback callback, NormalizedQueryParameters parms, Filter filter, boolean add, OnmsFilterFavorite favorite ) {
                    NormalizedQueryParameters newParms = new NormalizedQueryParameters(parms);
                    List<Filter> newList = new ArrayList<Filter>( parms.getFilters());
                            if( add ) {
                            newList.add( filter );
                            } else {
                            newList.remove( filter );
                            }
                            newParms.setFilters(newList);
                            return this.makeLink(callback, newParms, favorite);
                            }
    
                            public String[] getNodeLabels( String nodeLabel ) {
                            String[] labels = null;
    
                            if( nodeLabel.length() > 32 ) {
                            String shortLabel = nodeLabel.substring( 0, 31 ) + "...";                        
                            labels = new String[] { shortLabel, nodeLabel };
                            }
                            else {
                            labels = new String[] { nodeLabel, nodeLabel };
                            }
    
                            return( labels );
                            }
    
                            % -->

</div>
