<!-- jsp:include page="/includes/header.jsp" flush="false" >
  <jsp:param name="title" value="Configure Users and Groups" />
  <jsp:param name="headTitle" value="Users and Groups" />
  <jsp:param name="headTitle" value="Admin" />
  <jsp:param name="location" value="admin" />
  <jsp:param name="breadcrumb" value="<a href='admin/index.jsp'>Admin</a>" />
  <jsp:param name="breadcrumb" value="Users and Groups" />
</jsp:include -->
<div class="TwoColLAdmin" >
    <h3>Users and Groups</h3>
    <p>
        <a href="#/admin/users/users">Configure Users</a>
    </p>
    <p>
        <a href="#/admin/users/groups">Configure Groups</a>
    </p>
    <p>
        <a href="#/admin/users/roles">Configure Roles</a>
    </p>
</div>

<div  class="TwoColRAdmin">
    <h3>Users</h3>
    <p>
        Add new <em>Users</em>, change user names and passwords, and edit notification information.
    </p>

    <h3>Groups</h3>
    <p>
        Assign and unassign <em>Users</em> to <em>Groups</em>.
    </p>

    <h3>Roles</h3>
    <p>
        Configure Roles that define On Call schedules for users.
    </p>
</div>
